{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<div class="content-body">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
          <li class="breadcrumb-item">  <a href="{% url 'distributions_overview' %}">Aperçu sur la distribution</a>  </li>
          <li class="breadcrumb-item active" aria-current="page">Liste des distribution</li>
        </ol>
    </nav>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"></h2>
                        <div class="card-header py-3">
                          <a href="{% url 'distributions_add' %}" class="btn btn-lg btn-primary btn-pill"
                            > + </a>
                            <a href="{% url 'distributions_display' %}" class="btn btn-sm btn-primary btn-pill"
                            > retour </a>
                        </div>
                         {% comment %} {% if messages %}
                         {% for message in messages %} 
                         <p class="alert alert-success w-100 h-100">{{ message }} </p>
                         {% endfor %}
                         {% endif %} {% endcomment %}

                         {% if messages %}
                         {% for message in messages %} 
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <i class="fas fa-alert mr-1"></i>{{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                        </div
                        {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>camp</th>
                                        <th>beneficiaire</th>
                                        <th>type aide</th>
                                        <th>type assistance</th>
                                        <th>description</th>
                                        <th>date</th>
                                        <th> modifier </th>
                                        <th>supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for distribution in distributions %}
                                    <tr>
                                        <td>{{ distribution.id }}</td>
                                        <td>{{ distribution.camp }}</td>
                                        <td>{{ distribution.beneficiaire }}</td>
                                        <td>{{ distribution.type_aide }}</td>
                                        <td>{{ distribution.type_assistance }}</td>
                                        <td>{{ distribution.description }}</td>
                                        <td>{{ distribution.date_given }}</td>
                                        <td>
                                            <a href="{% url 'distributions_edit' distribution.id %}"
                                            class="btn btn-sm btn-primary btn-pill">MODIFIER</a>
                                        </td>
                            
                                        <td>
                                            <form action="{% url 'distributions_delete' distribution.id %}" method="post">
                                                {% csrf_token %}
                                                <button
                                                    type="submit"
                                                    onclick="return confirm('Voulez-vous vraiment supprimer ces informations du refugié ?')"
                                                    class="btn btn-sm btn-danger btn-pill">
                                                    SUPPRIMER
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}