{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<h1 class="page-title text-center mb-2">Sélectionez le camp pour afficher la liste des distributions</h1>

<div class="row d-flex justify-content-center">
    
    {% for camp in camps %}
        
        <div class="col-lg-6 col-xl-5 ">
            <div class="card mb-4">
            <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
                <div class="card-body">
                    <h5 class="card-title text-dark font-weight-bold">LE CAMP {{camp.nom_du_camp}} à {{camp.site}}</h5>
                    <p class="card-text pb-3"></p>
                    <div class="row d-flex justify-content-between">
                        <a href="{% url 'distribution_display_by_id' camp.id %}" class="btn btn-sm btn-primary btn-pill ">afficher la liste</a>
                    </div>
                </div>
            </div>
        </div>    
    
        {% endfor %}
        
</div>



{% endblock %}