{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
      <li class="breadcrumb-item">  <a href="{% url 'distributions_overview' %}">Aperçu sur la distribution</a>  </li>
      <li class="breadcrumb-item active" aria-current="page">Les distributions selon les camps</li>
    </ol>
</nav>

<h1 class="page-title text-center mb-2">Sélectionez le camp pour afficher la liste des distributions</h1>

<div class="row d-flex justify-content-center">
    
    {% for camp in camps %}
        
        <div class="col-lg-6 col-xl-5 ">
            <div class="card mb-4">
            <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
                <div class="card-body">
                    <h5 class="card-title text-dark font-weight-bold">LE CAMP {{camp.nom_du_camp}} à {{camp.site}}</h5>
                    <p class="card-text pb-3"></p>
                    <div class="row d-flex justify-content-between">
                        <a href="{% url 'distribution_display_by_id' camp.id %}" class="btn btn-sm btn-primary btn-pill ">afficher la liste</a>
                    </div>
                </div>
            </div>
        </div>    
    
        {% endfor %}
        
</div>

<div class="modal fade" id="exampleModalTooltip" tabindex="-1" role="dialog" aria-labelledby="exampleModalTooltip"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Information de votre compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
                
                <h5 class="font-weight-bold">Nom d'utilisateur</h5>
                <p>{{user.username}}</p>
                <hr>
                
                <h5 class="font-weight-bold">Adresse e-mail</h5>
                <p>{{user.email}}</p>
                <hr>

                <h5 class="font-weight-bold">Création du compte</h5>
                <p>{{user.date_joined}}</p>
                <hr>

                <h5 class="font-weight-bold">Dernière connexion</h5>
                <p>{{user.last_login}}</p>
            
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


{% endblock %}