{% include 'fondation/partials/head.html' %}

<body class="content" onload="window.print()">
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered zero-configuration">
            <thead>
                <tr>
                    <th>*</th>
                    <th>donateur</th>
                    <th>province</th>
                    <th>commune</th>
                    <th>zone</th>
                    <th>beneficiaire</th>
                    <th>type assistance</th>
                    <th>montant</th>
                    <th>description</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                {% for distribution in distributions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ distribution.donateur }}</td>
                    <td>{{ distribution.province }}</td>
                    <td>{{ distribution.commune }}</td>
                    <td>{{ distribution.zone }}</td>
                    <td>{{ distribution.beneficiaire }}</td>
                    <td>{{ distribution.type_assistance }}</td>
                    <td>{{ distribution.montant }}</td>
                    <td>{{ distribution.description }}</td>
                    <td>{{ distribution.date_given }}</td>
                                                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>