{% extends 'fondation/layouts/default.html' %} 

{% block content %}


<div class="content-body">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
          <li class="breadcrumb-item">  <a href="{% url 'donations_overview' %}">Aperçu sur les donateurs</a>  </li>
          <li class="breadcrumb-item active" aria-current="page">Liste des donateurs</li>
        </ol>
    </nav>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Liste des donateurs de la fondation</h2>
                        <div class="card-header py-3">
                          <a href="{% url 'donors_add' %}" class="btn btn-sm btn-primary btn-pill"
                            >+</a>
                            <a href="{% url 'print_donors' %}"class="btn btn-sm btn-primary btn-pill"
                            >Imprimer</a>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body col-15">
                                        <form method="get">
                                            {{filter.form}}
                                            <button type="submit" class="btn btn-primary">Rechercher</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% comment %} {% if messages %}
                         {% for message in messages %} 
                         <p class="alert alert-success w-100 h-100">{{ message }} </p>
                         {% endfor %}
                         {% endif %} {% endcomment %}

                         {% if messages %}
                         {% for message in messages %} 
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <i class="fas fa-alert mr-1"></i>{{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>*</th>
                                        <th>type</th>
                                        <th>Nom</th>
                                        <th>province</th>
                                        <th>commune</th>
                                        <th>type d'aide </th>
                                        <th>type d'assistance </th>
                                        <th>telephone</th>
                                        <th>e-mail</th>
                                        <th>montant</th>
                                        <th>description</th>
                                        <th>date de donation</th>
                                        <th> modifier </th>
                                        <th>supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for donor in donors %}
                                   <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ donor.type_donneur }}</td>
                                        <td>{{ donor.nom_du_donneur }}</td>
                                        <td>{{ donor.province }}</td>
                                        <td>{{ donor.commune }}</td>
                                        <td>{{ donor.type_aide }}</td>
                                        <td>{{ donor.type_assistance }}</td>
                                        <td>{{ donor.numero_de_telephone }}</td>
                                        <td>{{ donor.adresse_mail }}</td>
                                        <td>{{ donor.montant }}</td>
                                        <td>{{ donor.description }}</td>
                                        <td>{{ donor.donor_date_given }}</td>
                                        <td>
                                            <a href="{% url 'donors_edit' donor.id %}"
                                            class="btn btn-sm btn-primary btn-pill">MODIFIER</a>
                                        </td>
                            
                                        <td>
                                            <form action="{% url 'donors_delete' donor.id %}" method="post">
                                                {% csrf_token %}
                                                <button
                                                    type="submit"
                                                    onclick="return confirm('Voulez-vous vraiment supprimer ce donateur ?')"
                                                    class="btn btn-sm btn-danger btn-pill">
                                                    SUPPRIMER
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModalTooltip" tabindex="-1" role="dialog" aria-labelledby="exampleModalTooltip"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Information de votre compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
                
                <h5 class="font-weight-bold">Nom d'utilisateur</h5>
                <p>{{user.username}}</p>
                <hr>
                
                <h5 class="font-weight-bold">Adresse e-mail</h5>
                <p>{{user.email}}</p>
                <hr>

                <h5 class="font-weight-bold">Création du compte</h5>
                <p>{{user.date_joined}}</p>
                <hr>

                <h5 class="font-weight-bold">Dernière connexion</h5>
                <p>{{user.last_login}}</p>
            
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}