{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<div class="row d-flex justify-content-center">
        
    <div class="col-lg-6 col-xl-5">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
        <div class="card-body">
            <h5 class="card-title pt-2">Liste des donateurs et leurs dons ?</h5>
            <br><p class="card-text mb-6">Cliquez sur le bouton en bas pour afficher la liste des donateurs de la fondation</p>
            <a href="{% url 'donors_display' %}" class="btn btn-outline-primary">Afficher</a>
        </div>
        </div>
    </div>

</div>

{% endblock %}