{% extends 'fondation/layouts/default.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="content-body">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
          <li class="breadcrumb-item">  <a href="{% url 'address_overview' %}">Aperçu sur les addresses  </a>  </li>
          <li class="breadcrumb-item active" aria-current="page">Ajouter une commune  </li>
        </ol>
    </nav>
    
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-dark">Nouvelle commune</h2>
                    </div>
                    <div class="card-body">
                        <!-- Vertical Form -->
                        <form action="{% url 'address_store_commune' %}" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                {{ form.nom_de_la_province|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.nom_de_la_commune|as_crispy_field }}
                            </div>
                            <div class="text-center">
                                <br/>
                                <button type="submit" class="btn btn-success btn-pill">Enregistrer</button>
                                <button type="reset" class="btn btn-outline-danger btn-pill">Vider le formulaire</button>
                            </div>
                        </form><!-- Vertical Form -->
          
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

{% endblock %}