{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<h1 class="page-title text-center">Les origines des refugiés</h1>

<div class="row d-flex justify-content-center">
    
    <div class="col-lg-6 col-xl-5">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">Province</h5>
                <p class="card-text pb-3">Pour ajouter une nouvelle province d'origine d'un(e) refugié (e) cliquez sur le bouton en bas </p>
                <div class="row d-flex justify-content-between">
                    <a href="{% url 'address_add_province' %}" class="btn btn-outline-primary ">Acceder au formulaire</a>
                    <a href="{% url 'view_provinces' %}" class="btn btn-outline-primary ">Voir province (s)</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-xl-5">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">Commune</h5>
                <p class="card-text pb-3">Pour ajouter une nouvelle commune d'origine d'un(e) refugié (e) cliquez sur le bouton en bas </p>
                <div class="row d-flex justify-content-between">
                    <a href="{% url 'address_add_commune' %}" class="btn btn-outline-primary ">Acceder au formulaire</a>
                    <a href="{% url 'view_communes' %}" class="btn btn-outline-primary ">Voir commune (s)</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-xl-5">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">Voir les origines des refugiés</h5>
                <p class="card-text pb-3">Cliquez sur le bouton en bas pour voir les les origines des refugiés dans le camp</p>
                <a href="{% url 'address_display' %}" class="btn btn-outline-primary ">Afficher</a>
            </div>
        </div>
    </div>
      
</div>


{% endblock %}