{% include 'fondation/partials/head.html' %}
{% block content %}

<body class="content">
  <h1 class= "font-weight-bolder text-center text-primary">
    Réinitialisation du mot de passe effectuée</h1>
  <p style="font-size: 25px;">
    Nous vous avons envoyé par e-mail les instructions pour définir votre mot de passe,<br><br>
  Si un compte existe avec l'email que vous avez entré. Vous devriez les recevoir sous peu
  Si vous ne recevez pas d'e-mail
  vérifiez que vous avez bien saisi l'adresse avec laquelle vous vous êtes inscrit, et vérifiez votre dossier de courrier indésirable.
  <br><br><br>
  <a href="https://mailtrap.io/inboxes/2084969/messages/" 
  target="_blank" rel="noopener noreferrer"> cliquez ici pour consulter votre boîte mail</a>

  </p>
</body>


{% endblock %}


