{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
      <li class="breadcrumb-item active" aria-current="page"> Aperçu sur les camps</li>
    </ol>
</nav>

<div class="row d-flex justify-content-center">

    <div class="col-lg-6 col-xl-5 ">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">De nouveaux camps d'intervention ?</h5>
                <p class="card-text pb-3">Pour ajouter un nouveau camp d'intervention cliquez sur le bouton en bas </p>
                <div class="row d-flex justify-content-between">
                    <a href="{% url 'camps_add' %}" class="btn btn-outline-primary ">Acceder au formulaire</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-xl-5">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">Consulter la liste des camps ?</h5>
                <p class="card-text pb-3">Pour consulter la liste des camps d'intervention cliquez sur le bouton en bas </p>
                <div class="row d-flex justify-content-between">
                    <a href="{% url 'camps_display' %}" class="btn btn-outline-primary ">Voir les camps</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="modal fade" id="exampleModalTooltip" tabindex="-1" role="dialog" aria-labelledby="exampleModalTooltip"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Information de votre compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
                
                <h5 class="font-weight-bold">Nom d'utilisateur</h5>
                <p>{{user.username}}</p>
                <hr>
                
                <h5 class="font-weight-bold">Adresse e-mail</h5>
                <p>{{user.email}}</p>
                <hr>

                <h5 class="font-weight-bold">Création du compte</h5>
                <p>{{user.date_joined}}</p>
                <hr>

                <h5 class="font-weight-bold">Dernière connexion</h5>
                <p>{{user.last_login}}</p>
            
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}