{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
      <li class="breadcrumb-item active" aria-current="page"> Aperçu sur les camps</li>
    </ol>
</nav>

<div class="row d-flex justify-content-center">

    <div class="col-lg-6 col-xl-5 ">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">De nouveaux camps d'intervention ?</h5>
                <p class="card-text pb-3">Pour ajouter un nouveau camp d'intervention cliquez sur le bouton en bas </p>
                <div class="row d-flex justify-content-between">
                    <a href="{% url 'camps_add' %}" class="btn btn-outline-primary ">Acceder au formulaire</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-xl-5">
        <div class="card mb-4">
        <!-- <img class="card-img-top" src="images/elements/cc1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title ">Consulter la liste des camps ?</h5>
                <p class="card-text pb-3">Pour consulter la liste des camps d'intervention cliquez sur le bouton en bas </p>
                <div class="row d-flex justify-content-between">
                    <a href="{% url 'camps_display' %}" class="btn btn-outline-primary ">Voir les camps</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}