{% extends 'fondation/layouts/default.html' %} 

{% block content %}

<div class="content-body">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">  <a href="{% url 'dashboard' %}">Dashboard  </a>  </li>
            <li class="breadcrumb-item">  <a href="{% url 'refugees_overview' %}">Aperçu sur les personnes vulnérables</a>  </li>
            <li class="breadcrumb-item active" aria-current="page">Liste des personnes vulnérables </li>
        </ol>
    </nav>        
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">-----------</h2>
                        <div class="card-header py-3">
                          <a href="{% url 'refugees_add' %}" class="btn btn-lg btn-primary btn-pill"
                            > + </a>
                            <a href="{% url 'refugees_display' %}" class="btn btn-sm btn-primary btn-pill"
                            > retour </a>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body col-15">
                                        <form method="get">
                                            {{filter.form}}
                                            <button type="submit" class="btn btn-primary">Rechercher</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% comment %} {% if messages %}
                         {% for message in messages %} 
                         <p class="alert alert-success w-100 h-100">{{ message }} </p>
                         {% endfor %}
                         {% endif %} {% endcomment %}

                         {% if messages %}
                         {% for message in messages %} 
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <i class="fas fa-alert mr-1"></i>{{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                        </div
                        {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>nom</th>
                                        <th>prenom</th>
                                        <th>sexe</th>
                                        <th>age</th>
                                        <th>tel</th>
                                        <th>pere</th>
                                        <th>mere</th>
                                        <th>province</th>
                                        <th>commune</th>
                                        <th>zone</th>
                                        <th>vulnerabilite</th>
                                        <th>etudes</th>
                                        <th>situation matrimoniale</th>
                                        <th>nombre d'enfants</th>
                                        <th>fonction</th>
                                        <th>date d'arrivee</th>
                                        <th> modifier </th>
                                        <th>supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for refugee in refugees %}
                                    <tr>
                                        <td>{{ refugee.id }}</td>
                                        <td>{{ refugee.nom }}</td>
                                        <td>{{ refugee.prenom }}</td>
                                        <td>{{ refugee.sexe }}</td>
                                        <td>{{ refugee.age }}</td>
                                        <td>{{ refugee.numero_de_telephone }}</td>
                                        <td>{{ refugee.nom_prenom_du_pere }}</td>
                                        <td>{{ refugee.nom_prenom_de_la_mere }}</td>
                                        <td>{{ refugee.nom_de_la_province }}</td>
                                        <td>{{ refugee.nom_de_la_commune }}</td>
                                        <td>{{ refugee.nom_de_la_zone }}</td>
                                        <td>{{ refugee.la_vulnerabilite }}</td>
                                        <td>{{ refugee.le_niveau_etudes }}</td>
                                        <td>{{ refugee.situation_matrimoniale }}</td>
                                        <td>{{ refugee.nombre_enfants }}</td>
                                        <td>{{ refugee.fonction }}</td>
                                        <td>{{ refugee.date_joined }}</td>
                                                               
                                        <td>
                                            <a href="{% url 'refugees_edit' refugee.id %}"
                                            class="btn btn-sm btn-primary btn-pill">MODIFIER</a>
                                        </td>
                            
                                        <td>
                                            <form action="{% url 'refugees_delete' refugee.id %}" method="post">
                                                {% csrf_token %}
                                                <button
                                                    type="submit"
                                                    onclick="return confirm('Voulez-vous vraiment supprimer ces informations du refugié ?')"
                                                    class="btn btn-sm btn-danger btn-pill">
                                                    SUPPRIMER
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="exampleModalTooltip" tabindex="-1" role="dialog" aria-labelledby="exampleModalTooltip"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Information de votre compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
                
                <h5 class="font-weight-bold">Nom d'utilisateur</h5>
                <p>{{user.username}}</p>
                <hr>
                
                <h5 class="font-weight-bold">Adresse e-mail</h5>
                <p>{{user.email}}</p>
                <hr>

                <h5 class="font-weight-bold">Création du compte</h5>
                <p>{{user.date_joined}}</p>
                <hr>

                <h5 class="font-weight-bold">Dernière connexion</h5>
                <p>{{user.last_login}}</p>
            
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}